# editors
.projectile
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.swp

#binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# test binary, built with `go test -c`
*.test

# output of the go coverage tool, specifically when used with LiteIDE
*.out

# dependencies
vendor/
node_modules/
.pnp/
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
Thumbs.db
*.pem

# local db
pgdata/

# logs
*.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# yalc
.yalc
yalc.lock
